.logo {
    position: fixed;
    left: 4rem;
    top: 3rem;
}

.links {
    position: fixed;
    right: 4rem;
    top: 3rem;
    /* transform: translateX(-50%); */
    display: flex;
    gap: 2rem;
}

.links a {
    font-size: 1.2rem;
}

html {
    scroll-behavior: smooth;
}

.main-photo {
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 100%;
}

.main-photo p {
    top: 15%;
    left: 5%;
    position: absolute;
    font-weight: 1000;
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fills div without stretching */
    display: block;
    /* removes small inline gap */
}

.info {
    width: 100%;
}

.info-child {
    margin: 4rem;
    margin-top: 6rem;
}

.info-bullet-points {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
    font-size: 1.1rem;
}

.info-img {
    display: flex;
    justify-content: center;
}

.info-img img{
    width: 90%;
}

.works {
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 100%;
}

.about {
    width: 100%;
}

.about-child{
    margin: 5% 10%;
    font-size: 1.1rem;
}

.clients {
    background-color: rgb(82, 82, 82);
    height: 100vh;
    width: 100%;
}

.modal-works {
    height: 1500px;
}

.modal-close-btn {
    position: fixed;
    /* fixed to viewport */
    top: 10px;
    /* distance from top of screen */
    right: 10px;
    /* distance from right edge of screen */
    background-color: #646cff00;
    color: rgba(179, 179, 179, 0.4);
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    z-index: 1000;
    /* make sure it’s on top of the modal */

    font-size: 30px;
    /* set font size */
}

.modal-close-btn:hover {
    color: rgba(153, 153, 153, 0.9);
    outline: none;
    /* removes outline on click */
}

.modal-close-btn:focus-visible {
    outline: 2px solid #fff;
    /* still shows outline when using keyboard navigation */
}

.footer {}

@media (max-width: 576px) {

    .links {
        flex-direction: column;
        /* stack vertically */
        align-items: flex-end;
        /* keep them aligned to the right */
        gap: 1.5rem;
        /* smaller spacing between items */
        right: 7%
    }

    .links a {
        font-size: 1.2rem;
        border: 1px solid rgba(32, 32, 32, 0.87);
        /* adds a visible border */
        border-radius: 10px;
        /* rounded corners, adjust px as needed */
        padding: 0.3rem 0.8rem;
        /* add padding so text doesn’t touch the border */
        padding-top: 0.1rem;
        transition: all 0.3s ease;
        /* optional: smooth hover effect */
        background-color: rgba(255, 255, 255, 0.3);;
    }

    a:hover {

        border-color: rgba(32, 32, 32, 0.5);
    }

     .info-bullet-points {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

}

@media (max-width: 1000px) and (min-width: 576px) {

.info-bullet-points {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
}


}

 