/* HEADER */

.header {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: all 0.6s ease;
    z-index: 100;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    /* or any color */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    margin: 3%;
    margin-left: 4%;
    height: 10rem;
    transition: all 0.8s ease;
}

.logo.scrolled {
    margin-top: 0.45rem;
    height: 3rem;
}

.logo img {
    height: 100%;
    width: 100%;
}

.links {
    margin-top: 4rem;
    margin-right: 4rem;
    display: flex;
    gap: 2rem;
    transition: all 0.8s ease;
}

.links.scrolled {
    margin-top: 1rem;
    margin-right: 4rem;
    display: flex;
    gap: 2rem;
}

.links a {
    font-size: 1.2rem;
}

html {
    scroll-behavior: smooth;
}

/* MAIN PHOTO */

.main-photo {
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 100%;
}

.main-photo p {
    top: 15%;
    left: 5%;
    position: absolute;
    font-weight: 1000;
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fills div without stretching */
    display: block;
    /* removes small inline gap */
}

/* INFO */
.info {
    width: 100%;
}

.info-child {
    margin: 4rem;
    margin-top: 6rem;
    margin-bottom: 0;
}

.info-bullet-points {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
    font-size: 1.1rem;
}

.info-img {
    margin: 0 7rem;
    display: flex;
    justify-content: center;
}

.info-img img {
    width: 90%;
}

/* WORKS */
.works {
    width: 100%;

}

.works-child {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-child h3 {
    align-self: self-start;
}

.works-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 325px; */
    gap: 1rem;
}

.works-img-child p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.works-img-child p:hover {

    text-decoration: underline;
    cursor: pointer;
}

.works-img-child img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    aspect-ratio: 4.2/3;
    cursor: pointer;
}

.works button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.7em 1em;
}

/* ABOUT */
.about {
    width: 100%;
}

.about div {
    margin: 4rem;
    margin-bottom: 0;
}

.about-child {
    margin: 5% 10%;
    font-size: 1.1rem;
}

/* CLIENTS */
.clients {
    width: 100%;
}

.clients h3 {
    margin-bottom: 0;
}

.clients div {
    margin: 4rem;
    margin-bottom: 0;
}

.clients img {
    width: 100%;
}


/* CONTACTS */
.contacts {
    background-color: rgb(247, 247, 247);
    width: 100%;
    text-align: center;
}

.contacts-breakline {
    background-color: rgb(207, 207, 207);
    width: 100%;
    height: 1px;
}

.contacts div {
    margin: 4rem;
    /* margin-top: 0; */
}

/* MODAL */
.modal-works {
    width: 100%;
    margin: 2rem;
}

.modal-works img {
    width: 100%;
    margin-bottom: 1rem;

}

.modal-close-btn {
    position: fixed;
    /* fixed to viewport */
    top: 1rem;
    /* distance from top of screen */
    right: 1rem;
    /* distance from right edge of screen */
    background-color: #646cff00;
    color: rgba(238, 238, 238, 0.8);
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    z-index: 1000;
    /* make sure it’s on top of the modal */

    font-size: 30px;
    /* set font size */
}

.modal-close-btn:hover {
    color: rgba(253, 253, 253, 0.9);
    outline: none;
    /* removes outline on click */
    background: none;
}

.modal-close-btn:focus-visible {
    outline: 2px solid #fff;
    /* still shows outline when using keyboard navigation */
}

/* REST */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: rgb(0, 0, 0);
    background-color: rgba(110, 110, 110, 0.0);
    cursor: pointer;
    transition: background-color 0.25s;
    border-color: rgb(107, 107, 107);
}

button:hover {
    background-color: rgb(235, 234, 234)
}

button:focus,
button:focus-visible {
    outline: none
}

@media (max-width: 576px) {

    .header.scrolled {
        /* background: none;
        box-shadow: none; */
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .links {
        /* flex-direction: column; */
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 1rem;
        gap: 0.5rem;
        transition: all 0.8s ease;
    }

    .links.scrolled {
        margin-top: 0.7rem;
        margin-right: 1rem;
        gap: 0.5rem;
        margin-top: 0;
    }

    .links a {
        height: 1.5rem;
        font-size: 1rem;
        border: 1px solid rgba(32, 32, 32, 0.87);
        /* adds a visible border */
        border-radius: 10px;
        /* rounded corners, adjust px as needed */
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-bottom: 0.15rem;
        /* add padding so text doesn’t touch the border */
        transition: all 0.3s ease;
        /* optional: smooth hover effect */
        background-color: rgba(255, 255, 255, 0.2);
        ;
    }

    a:hover {

        border-color: rgba(32, 32, 32, 0.5);
    }

    .info-bullet-points {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }



}

@media (max-width: 1000px) and (min-width: 576px) {

    .info-bullet-points {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


}

@media (max-width: 1000px) {

    .works-child {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .works-img {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .info-child {
        margin: 2rem;
        margin-top: 6rem;
        margin-bottom: 0;
    }

    .info-img {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .about div {
        margin: 2rem;
        margin-bottom: 0;
    }

    .about-child {
        margin: 5% 0;
        font-size: 1.1rem;
    }

    .clients div {
        margin: 2rem;
    }

    .modal-works {
    width: 90%;
    margin: 0;
}


}